<h1>Top 5 Preview</h1>
<ul>
  <li *ngFor="let video of videos"
      [class.selected]="video.id === selected?.id"
      (click)="onClick(video.id)">
      <app-video [video]="video"></app-video></li>
</ul>
