<div class="container">
  <app-video-list [videos]="videos | async"
                  [selected]="selectedVideo | async"
                  (selection)="selectedVideo = $event"></app-video-list>
  <app-video-player [video]="selectedVideo | async"></app-video-player>
  <app-stat-filters></app-stat-filters>
</div>
